<!DOCTYPE html>
<html>
  <head>
    <title>bauer - Multi-process task runner</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
  
    <header>
      <a href="/">
        <h1>bauer</h1>
        <p>Multi-process task runner</p>
      </a>
    </header>
    
    <nav>
      <%= include('menu.html') %>
    </nav>
  
    <main>
      <%= include(active + '.html') %>
    </main>
  
    <footer>
      <a href="http://yneves.com">by Yuri Neves</a>
    </footer>
    
  </body>
</html>
